# -------------------------
# Node & Environment
# -------------------------
node_modules/
npm-debug.log*

# -------------------------
# Typescript build output
# -------------------------
dist/
build/

# Vitest
.vitest/
coverage/

# -------------------------
# Environment variables
# -------------------------
.env 
.env.*.local
.env.local

# -------------------------
# VSCode settings
# -------------------------
.vscode/
.idea/

# -------------------------
# Logs
# -------------------------
logs/
*.log
*.log.*


notes.md